html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*
    Addition
*/

.table{
    background-color: #fff;
}

.breadcrumb{
    background-color: #fff;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

.profile-picture {
    display: block;
    /*width: 100px;*/
    /*height: 100px;*/
    margin: .8mm auto;
    margin-bottom: 20px;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    text-align: center;
   /* background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;*/
    /*border-radius: 50%;
    */
    /*border: 5px solid #eee;*/
    /*box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);*/
}

.img-box{
    width: 50px; 
    height: 50px; 
}
.img-circle{
    width: 200px;
    height: 200px;
}
.img-circle-sidebar{
    border-radius: 50%;
    width: 45px;
    height: auto;
}
.img-circle-team{
    border-radius: 50%;
    width: 50px; 
    height: auto; 
}

.users-list>li>a:hover, 
.users-list>li>a:hover .users-list-name {
    color: #72afd2;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 0;
    font-size: 45px;
    color: rgba(0,0,0,0.15);
}

.small-box:hover .icon {
    font-size: 55px;
}

#columnChart {
    /*display: table-cell;*/
    position: relative;
    width:100%;
}